*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
     /* font-family: 'Roboto', sans-serif; */
     /* font-family: 'Rubik', sans-serif; */
      font-family: 'Ubuntu', sans-serif; 
     /* font-family: 'Urbanist', sans-serif; */
}

.navbar{
    width: 100%;
    height: 50px;
    background-color: black;
}

.navbar-container{
    display: flex;
    align-items: center;
    color: white;
    padding: 0 50px;
    height: 100%;
}

.logo-container{
    flex: 1;
}

.logo{
    color: red;
    font-size: 30px;
}

.menu-container{
    flex: 6;
}

.menu-list{
    display: flex;
    list-style: none;
    font-size: large;
    font-family: 'Rubik', sans-serif;
}

.menu-list-item{
    margin-right: 30px;
}

.menu-list-item.active{
    font-weight: bold;
}

.profile-container{
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.profile-text-container{
    margin: 0 20px;

}
.profile-picture{
    width: 32px;
    height: 32px;
    object-fit: cover;
    border-radius: 50%;
}

.profile-icon{
    color: white;
}

.toggle{
    width: 40px;
    height: 20px;
    background-color: white;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
}

.toggle-icon{
    color: gold;
}

.toggle-ball{
  width: 18px;
  height: 18px;
  background-color: black;
  position: absolute;
  right: 1px;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.5 s ease-in-out;
}

.sidebar{
    width: 50px;
    height: 100%;
    background-color: black;
    position: fixed;
    top: 0%;
    padding-top: 60px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.left-menu-icons{
    color: white;
    font-size: 25px;
    margin-bottom: 60px;
}

.container{
    background-color: #151515;
    min-height: calc(100vh - 50px);
    color: white;
}

.content-container{
    margin-left: 50px;
    
}

.featured-content{
    height: 50vh;
    padding: 50px;
}

.featured-title{
    width: 300px;
}

.featured-desc{
    /* font-size: larger; */
    width: 700px;
    color: lightgray;
    margin: 10px 0px;
}

.featured-button{
    background-color: white;
    color: red;
    /* height: 50px;
    font-size: 15px; */
    padding: 10px 10px;
    border-radius: 10px;
    border: none;
    outline: none;
    /* font-weight: bold; */
    cursor: pointer;
}

.featured-button:hover{
    background-color: red;
    color: white;
    transition: ease-in-out 0.5s; 
}

.movie-list-container{
   padding: 0px 20px;
}

.movie-list{
    display: flex;
    align-items: center;
    height: 300px;
    transform: translateX(0);
    transition: all 1s ease-in-out;
}

.movie-list-wrapper{
    position: relative;
    overflow: hidden;
}

.movie-list-item{
    margin-right: 30px;
    position: relative;
}

.movie-list-item:hover .movie-list-item-img{
    transform: scale(1.2);
    margin: 0 30px;
    opacity: 0.5;
}

.movie-list-item:hover .movie-list-item-title, 
.movie-list-item:hover .movie-list-item-desc, 
.movie-list-item:hover .movie-list-item-button{
    opacity: 1;
} 

.movie-list-item-img{
    transition: all 1s ease-in-out;
    width: 270px;
    height: 200px;
    object-fit: cover;
    border-radius: 20px;
}

.movie-list-item-title{
    background-color: #333;
    padding: 0 10px;
    border-radius: 10px;
    font-size: 32px;
    font-weight: bold;
    position: absolute;
    top: 10%;
    left: 50px;
    opacity: 0;
    transition: all 1s ease-in-out;
}

.movie-list-item-desc{
    background-color: #333;
    border-radius: 20px;
    padding: 10px;
    font-size: 14px;
    top: 28%;
    left: 50px;
    position: absolute;
    width: 200px;
    opacity: 0;
    transition: all 1s ease-in-out;
}

.movie-list-item-button{
    background-color: white;
    color: red;
    font-size: 15px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    outline: none;
    position: absolute;
    cursor: pointer;
    bottom: 20px;
    left: 50px;
    opacity: 0;
    transition: all 1s ease-in-out;
}

.arrow{
    font-size: 120px;
    position: absolute;
    top: 90px;
    right: 0%;
    color: lightgray;
    opacity: 0.5;
    cursor: pointer;
}

.container.active{
    background-color: white;
}

.movie-list-title.active{
    color: black;
}

.navbar-container.active{
    background-color: white;
    color: black;
}

.sidebar.active{
    background-color: white;
}

.left-menu-icons.active{
    color: black;
}

.toggle.active{
    background-color: black;
}

.toggle-ball.active{
    background-color: white;
    transform: translateX(-20px);
}

@media only screen and (max-width: 940px){
    .menu-container{
        display: none;
    }
}